/* import */
@import "fonts.css";

/* <=== Common ===>*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/* <=== /Common ===>*/

/* <=== Portfolio ===> */
.portfolio {
    height: 870px;
    padding: 67px 40px;
    background-color: #2d303a;
}

.portfolio-wrapper-content {

}

.portfolio-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    color: #666d89;

}

.portfolio-text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 10px;
}

.portfolio-nav {
    list-style: none;
    display: flex;
    margin-bottom: 17px;
}

.portfolio-nav__item {
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.portfolio-nav__item a {
    text-decoration: none;
    color: #666d89;
}

.portfolio-nav__item-active,
.portfolio-nav__item:hover{
    border-color: #c5c5c5;
    color: #dedede;
    
}

.portfolio-nav__item-active a,
.portfolio-nav__item a:hover {
    color: #dedede;
}

.portfolio-wrapper-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-image {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.portfolio-image img {
    width: 100%;
    height: 100%;
} 
/* <=== / Portfolio ===> */

/* <=== About us ===> */

.about-us {
    height: 730px;
    padding: 67px 40px;
    background-color: #f2f2f2;
}

.about-us_title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 18px;
    color: #666489;
    font-weight: 900;
}

.about-us_discription {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    text-align: justify;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
}

.about-us_item {
    width: 300px;
    margin-bottom: 49px;
}

.item-image {
    width: 100%;
    height: 300px;
}

.about-us_item h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.about-us_item p {
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;

}

.ico {
    margin-right: 2px;
}

/* <=== / About us ===> */