/* import */
@import "fonts.css";

/* <=== Common ===>*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    padding-top: 67px;
    padding-left: 40px;
    padding-right: 40px;
}

h1, h2 {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #fff;
}

.text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
    color: #767e9e;
}

.item-description {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
    color: #767e9e;
}

.ico {
    display: inline-block;
    margin-right: 3px;
}
/* <=== /Common ===>*/

/* <=== Header ===> */

.header {
    background: #2d303a;
}

.wrapper-header {
    padding-top: 0;
    height: 96px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 6px solid #323746;
}
.header-logo {
    align-self: center;
    font-size: 25px;
    font-weight: 700;
}

.header-logo::after {
    content: '*';
    color: #f06c64;
}

.header-menu {
    display: flex;
    flex-basis: 370px;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.header-menu__item:not(:last-child):after {
    content: '.';
    position: relative;
    bottom: 3px;
    left: 12px;
    color: #494e62;
}

.active,
.nav-link:hover {
    color: #f06c64;
}

/* <=== / Header ===> */

/* <=== Slider ===> */

.slider {
    background-color: #f06c64;
}

.wrapper-slider {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    border-bottom: 6px solid #ea676b;
}

.chevron {
    width: 20px;
    height: 30px;
    color: #ca4549;
}

.chevron:hover {
    cursor: pointer;
    transition-delay: .2s;
    color: #a3494a;
}

.slider-vertical-image {
    width: 240px;
    height: 483px;
    position: relative;
}
.slider-vertical-image img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    
}

.slider-horizontal-image {
    width: 483px;
    height: 240px;
    position: relative;
}
.slider-horizontal-image img {
    position: absolute;
    bottom: 3px;
    left: 5px;
    
}
/* <=== / Slider ===> */

/* <=== Services ===> */

.services {
    background-color: #f2f2f2;
    height: 500px;
}

.wrapper-services {
    display: flex;
    flex-direction: column;
    color: #666d89;
    border-bottom: 6px solid #fff;
}

.services-description__title {
    margin-bottom: 25px;
}

.services-description__text {
    margin-bottom: 48px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-content__item {
    display: flex;
    width: 300px;
    height: 85px;
    margin-bottom: 37px;
}

.item-img {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid #666d89;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.services-content__item-wrapper {
    width: 220px;
    margin-left: 20px;
}

.item-title {
    margin-bottom: 8px;
}

/* <=== /Services ===> */

/* <=== Portfolio ===> */
.portfolio {
    height: 870px;
    background-color: #2d303a;
}

.portfolio-title {
    margin-bottom: 30px;

}

.portfolio-text {
    margin-bottom: 10px;
}

.portfolio-nav {
    list-style: none;
    display: flex;
    margin-bottom: 17px;
}

.portfolio-nav__item {
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.portfolio-nav__item a {
    text-decoration: none;
    color: #666d89;
}

.portfolio-nav__item-active,
.portfolio-nav__item:hover{
    border-color: #c5c5c5;
    color: #dedede;
    
}

.portfolio-nav__item-active a,
.portfolio-nav__item a:hover {
    color: #dedede;
}

.portfolio-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-project__item {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.portfolio-project__item img {
    width: 100%;
    height: 100%;
} 
/* <=== / Portfolio ===> */

/* <=== About us ===> */

.about-us {
    height: 730px;
    background-color: #f2f2f2;
}

.about-us_title {
    margin-bottom: 25px;
}

.about-us_description {
    margin-bottom: 45px;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
}

.about-us_item {
    width: 300px;
    margin-bottom: 49px;
}

.item-image {
    width: 100%;
    height: 300px;
}

.about-us_item h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.about-us_item p {
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;

}

/* <=== / About us ===> */

/* <=== Contact ===> */

.form {
    height: 655px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.form_content__title {
    padding-bottom: 28px;
    color: #f0d8d9;

}

.form_content__text {
    padding-bottom: 43px;
    color: #f0d8d9;
}

.layout-2-column {
    display: flex;
}

.contact__form {
    width: 66%;
    margin-right: 10px;
}

.contact_input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 14px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    outline: none;
    padding: 15px;
    font-size: 12px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
}

.contact_input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.textarea {
    height: 200px;
    padding-top: 8px;
    resize: none;
    font-family: "Lato";
}

.submit {
    padding: 0;
    font-size: 18px;
}

.submit:hover {
    cursor: pointer;
}

.contact__content {
    width: 33%;
    padding-left: 10px;
}

.contact__content__title {
    margin-bottom: 10px;
    color: #f0d8d9;
}

.contact__content__description {
    color: #f0d8d9;
}

.contact__item {
    display: block;
}

.contact-item-description {
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.ico-location {
    background: center no-repeat url(/assets/img/icon/location.png);
}

.ico-tel {
    background: center no-repeat url(/assets/img/icon/phone.png);
}

.ico-email {
    background: center no-repeat url(/assets/img/icon/mail.png);
}

.contact__item a {
    text-decoration: none;
    color: #f0d8d9;
}

/* <=== / Contact ===> */

/* <=== Footer ===> */
.footer {

    background-color: #2d303a;

}

.wrapper-footer {
    padding-top: 0;
    display: flex;
    height: 76px;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    padding-top: 4px;
    padding-left: 3px;
    color: #666d89;
    font-size: 12px;
}

.social-media {
    margin-top: 10px;
}

.ico-footer {
    margin-right: 3px;
}
/* <=== / Footer ===> */
