/* import */
@import "fonts.css";

/* <=== Common ===>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  font-family: "Lato", Verdana, sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 67px;
}

h2 {
  font-size: 3rem;
  line-height: 1.8rem;
  font-weight: 900;
  color: #666d89;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666d89;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #fff;
}

.text {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  text-align: justify;
  color: #767e9e;
}

.item_description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  text-align: justify;
  color: #767e9e;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media {
  display: flex;
}

/* <=== /Common ===>*/

/* <=== Header ===> */

.header {
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__wrapper {
  height: 89px;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #fff;
}
.header__logo {
  align-self: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.header__logo::after {
  content: "*";
  color: #f06c64;
}

.header__navigation {
  padding-top: 3px;
  display: flex;
  flex-basis: 370px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.header__navigation_item:not(:last-child):after {
  content: "\2219";
  margin-left: 12px;
  color: #494e62;
}

.nav-link_active,
.nav-link:hover {
  color: #f06c64;
  transition: 0.3s ease-in-out;
}

/* <=== / Header ===> */

/* <=== Slider ===> */

.slider {
  position: relative;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__wrapper {
  height: 594px;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.slider__prev-btn,
.slider__next-btn {
  z-index: 20;
}
.prev_link:hover,
.next_link:hover {
  cursor: pointer;
}

.slider__item {
  width: 796px;
  display: none;
  align-items: center;
  animation: 0.3s ease-in-out;
  position: relative;
}

.slider__item-1 {
  justify-content: space-between;
}

.slider__item-2 {
  justify-content: center;
  display: none;
}

.slider_colored {
  background-color: #648bf0;
  border-bottom: 6px solid #648bf0;
}

.active,
.next {
  display: flex;
}

.next {
  position: absolute;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.dark-screen {
  position: absolute;
  background-color: #000;
  border-radius: 4px;
  z-index: -10;
}

.dark-screen-vertical {
  width: 189px;
  height: 333px;
  top: 64px;
  left: 12px;
}

.dark-screen-horizontal {
  width: 333px;
  height: 189px;
  top: 14px;
  left: 61px;
}

.visible {
  z-index: 10;
}

.slider__vertical-image,
.slider__horizontal-image {
  position: relative;
}
/* <=== / Slider ===> */

/* <=== Services ===> */

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  color: #666d89;
  padding-bottom: 52px;
}

.services__description__title {
  margin-bottom: 27px;
}

.services__description__text {
  margin-bottom: 48px;
}

.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__content_item {
  display: flex;
  width: 300px;
  height: 85px;
  margin-bottom: 37px;
}

.item-img {
  display: flex;
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.services__content_item-wrapper {
  width: 220px;
  margin-left: 20px;
}

.services__content_item-wrapper p {
  height: 70px;
}

.item-title {
  margin-bottom: 8px;
}

/* <=== /Services ===> */

/* <=== Portfolio ===> */
.portfolio {
  padding-bottom: 74px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-bottom: 28px;
}

.portfolio__text {
  margin-bottom: 10px;
}

.portfolio__tag {
  list-style: none;
  display: flex;
  margin-bottom: 17px;
}

.portfolio__tag_item {
  display: flex;
}

.tag {
  margin-right: 9px;
  padding-left: 7px;
  padding-right: 6px;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid #666d89;
  border-radius: 5px;
  color: #666d89;
}

.tag:hover {
  border-color: #dedede;
  color: #dedede;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.tag_active {
  color: #dedede;
  border-color: #dedede;
}

.portfolio__project {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}

.portfolio__project__item {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.portfolio__project__item:nth-child(n + 13) {
  display: none;
}

.portfolio__project__item img {
  width: 100%;
  height: 100%;
}

.project_bordered {
  border: 5px solid #f06c64;
}
/* <=== / Portfolio ===> */

/* <=== About us ===> */

.about-us {
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.about-us__title {
  margin-bottom: 27px;
}

.about-us__description {
  margin-bottom: 45px;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}

.about-us__item {
  width: 300px;
  margin-bottom: 49px;
}

.item_image {
  width: 100%;
  height: 300px;
}

.about-us__item h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.about-us__item p {
  margin-bottom: 23px;
}

.ico-about-us {
  margin-right: 6px;
}

/* <=== / About us ===> */

/* <=== Contact ===> */

.form {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.form__content_title {
  padding-bottom: 28px;
  color: #f0d8d9;
}

.form__content_text {
  padding-bottom: 43px;
  color: #f0d8d9;
}

.layout-2-column {
  display: flex;
}

.contact__form {
  width: 66%;
  margin-right: 10px;
}

.contact_input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 14px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  outline: none;
  padding: 15px;
  font-size: 1.2rem;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
}

.contact_input::placeholder {
  font-size: 1.2rem;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
}

.contact_input:required:invalid {
  border: 2px solid #f48c8f;
}
.textarea {
  height: 200px;
  padding-top: 8px;
  resize: none;
  font-family: "Lato";
}

.submit {
  padding: 0;
  width: 130px;
  background-color: #fbc65f;
  font-size: 1.4rem;
  font-weight: bold;
  color: #886a30;
  text-transform: uppercase;
}

.submit:hover {
  cursor: pointer;
  background-color: #d19f3d;
  transition: 0.3s ease-in-out;
}

.message-block {
  position: absolute;
  padding-bottom: 400px;
  width: 100%;
  height: 3528px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}

.message-block.hidden {
  display: none;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message p {
  margin-bottom: 20px;
}

.close-btn {
  width: 100px;
}
.contact__content {
  width: 33%;
  padding-left: 10px;
}

.contact__content__title {
  margin-bottom: 10px;
  color: #f0d8d9;
}

.contact__content__description {
  color: #f0d8d9;
}

.contact__item {
  display: block;
}

.contact-item_description {
  margin-bottom: 20px;
}

.contact-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 10px;
}

.ico-location {
  background: center no-repeat url(./assets/img/icon/location.png);
}

.ico-tel {
  background: center no-repeat url(./assets/img/icon/phone.png);
}

.ico-email {
  background: center no-repeat url(./assets/img/icon/mail.png);
}

.contact__item a {
  text-decoration: none;
  color: #f0d8d9;
}

/* <=== / Contact ===> */

/* <=== Footer ===> */
.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  padding-top: 0;
  display: flex;
  height: 76px;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #666d89;
  font-size: 1.2rem;
  line-height: 6px;
  font-weight: 400;
}

.ico-footer {
  margin-left: 6px;
}
/* <=== / Footer ===> */

@media screen and (max-width: 1019px) and (min-width: 768px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .slider__item-1 {
    justify-content: center;
  }

  .slider__vertical-image {
    margin-left: 30px;
  }

  .slider__vertical-image img {
    width: 180px;
    height: 388px;
  }
  .slider__horizontal-image {
    margin-right: 20px;
    margin-left: 5%;
  }

  .slider__horizontal-image img {
    height: 180px;
    width: 388px;
  }

  .slider__item-2 img {
    height: 440px;
  }

  .slider__wrapper {
    height: 452px;
  }

  .dark-screen-vertical {
    width: 143px;
    height: 271px;
    top: 51px;
    left: 9px;
  }

  .dark-screen-horizontal {
    width: 268px;
    height: 141px;
    top: 10px;
    left: 47px;
  }

  /* Our services section  */

  .services__content_item {
    width: 47%;
    height: auto;
  }

  .services__content_item-wrapper {
    width: 80%;
  }

  /* Portfolio section  */
  .portfolio__project__item {
    width: 32%;
  }

  .project__item-img {
    display: block;
    max-width: 100%;
  }

  .item_image {
    width: 100%;
    height: auto;
  }

  .about-us__item {
    flex-basis: 32%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header__wrapper {
    justify-content: center;
  }

  .header__navigation {
    display: none;
  }

  .slider__wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }

  .slider__item-1 {
    justify-content: center;
  }

  .slider__vertical-image {
    margin-left: 0;
  }

  .slider__vertical-image img {
    width: 90px;
    height: 180px;
  }
  .slider__horizontal-image {
    margin-right: 0;
    margin-left: 5%;
  }

  .slider__horizontal-image img {
    height: 90px;
    width: 180px;
  }

  .slider__item-2 img {
    height: 220px;
  }

  .slider__wrapper {
    height: 222px;
  }

  .dark-screen-vertical {
    width: 72px;
    height: 125px;
    top: 24px;
    left: 4px;
  }

  .dark-screen-horizontal {
    width: 125px;
    height: 72px;
    top: 4px;
    left: 21px;
  }

  /* Our services section  */

  .services__content_item {
    width: 100%;
    height: auto;
  }

  .services__content_item-wrapper {
    width: 80%;
  }

  /* Portfolio section  */
  .portfolio__project__item {
    width: 48%;
    height: 128px;
  }

  .project__item-img {
    display: block;
    max-width: 100%;
  }

  /* About us section  */
  .about-us {
    height: auto;
  }
  .layout-3-column {
    flex-wrap: wrap;
  }

  .item_image {
    width: 100%;
    height: auto;
  }

  .about-us__item {
    width: 100%;
  }

  /* Get a Quote section  */

  .layout-2-column {
    flex-wrap: wrap;
  }
  .contact__form {
    width: 100%;
  }

  .submit {
    width: 100%;
  }

  .contact__content {
    width: 100%;
  }

  /* Footer  */

  .copyright {
    display: none;
  }

  .footer__wrapper {
    justify-content: center;
  }
}
